@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Quản Lý Tiêm Chủng</a>.</p>
     <div class="container">
         
    <div class="row text-center">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
             Quản Lý TIÊM CHỦNG
            </a>
            <a asp-controller="KhachHang" asp-action="Index" class="list-group-item list-group-item-action">Quản Lý Khách Hàng</a>
            <a href="#" class="list-group-item list-group-item-action">Lịch Sử Tiêm Phòng</a>
            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
          </div>
    </div>
     </div>
  
</div>
